*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h1{
    text-align: center;
    color: #ff0000;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    border-radius: 10px;
    height: 80px;
    width: 160px;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}
button#increase-btn{
    background-color: #ff0000;
    color: #000000;
}
button#save-btn{
    background-color: #000000;
    color: #ffffff;
}
#number{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.data{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}